h1 {
  color: #83aaaa;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: fantasy;
  font-weight: bolder;
}

ul {
  font-size: 20px;
  line-height: 30px;
}
